<div class="full-height">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-title">
                <i class="fa fa-lg fa-line-chart"></i>
                Sentigraph
                <small class="app-ver">{{ 'v%VERSION%' | interpolate }}</small>
            </h2>
            <h3 class="panel-title">Social Media Sentiment Analysis</h3>
        </div>
        <div class="panel-body container-fluid">
            <!-- Content -->
                    <div class="media-body">
                        <br />
                        <h4>What is Sentigraph?</h4>

                        <p>
                            Sentigraph is an app for measuring and following trends on social media and news outlets.
                        </p>
                        <p>
                            The app has two main sections:
                        </p>
                        <p>
                            <a href="#/items">Sentiment Feed</a> -
                            Live news feed of popular posts on a specific topic labeled as positive, negative or informative.
                        </p>
                        <p>
                            <a href="#/graph">Sentiment Graph</a> -
                            Graph that illustrates the trend over period of time.
                        </p>
                        <p>
                            The idea is that, the sentiment of tweet, post or article
                            is important factor for analysing and understanding online trends.
                            By analysing the trend over time it is possible to find correlations with the price or demand for the product or service.
                        </p>
                        <p>
                            To access the app, all is needed is a modern web browser.
                            <br />
                            The Web app is built firstly to target mobile devices but it is responsive enough to adapt to desktop screens seamlessly.
                        </p>
                        <br />
                        <h4>How it works?</h4>
                        <p>
                            The core of the service is machine learning algorithms used to predict the correct sentiment of a given text.
                        </p>
                        <p>
                            The machine is trained and tested on thousands of examples labeled by humans (e.g sentiment labels: positive or negative).
                            <br />
                            In a process of <a href="http://en.wikipedia.org/wiki/Supervised_learning">"Supervised Learning"</a> the computer finds and detect patterns that indicates the labels of the text.

                            <br />
                            Later it uses this knowledge to predict the correct label of an unseen text.
                        </p>
                        <br />
                        <h4>Why I see only tweets about Bitcoin?</h4>
                        <p>
                            The process of acquiring huge amount of data, labeling it, and selecting and adapting the best machine learning algorithm for the task is very hard and time consuming.
                        </p>
                        <p>
                            Hence, I've decided to start with one topic that to my opinion, the social media buzz around it is main part of it's volatility.
                        </p>
                        <p>
                            After the service will grow and become more mature, more topics and social data sources will be added.
                        </p>
                        <p>
                            The service is in it's early age days.
                            <br />
                            Be aware that changes and upgrades will come on a weekly basis. for any question, request or comment please contact me in the
                            <a href="#/about">feedback page</a>.
                        </p>
                    </div>
        </div>
    </div>
</div>